import * as firebase from 'firebase';

// Initialize Firebase
const config = {
    apiKey: "<API_KEY>",
    authDomain: "<PROJECT_ID>.firebaseapp.com",
    databaseURL: "https://<DATABASE_NAME>.firebaseio.com",
    storageBucket: "<BUCKET>.appspot.com",
    messagingSenderId: "<MESSAGING_SENDER_ID>"
};
firebase.initializeApp(config);

export default firebase;

