.item
    text-decoration: none

    // wrapper
    &s
        overflow: auto
        -webkit-overflow-scrolling: touch
        display: inline-flex
        display: flex
        flex-direction: column
        height: 100%


    padding: 1em

    &__link
        display: block
        margin: -1em
        padding: 1em
        border:
            bottom: 1px solid #ccc
        color: inherit
        text-decoration: inherit

