.panel

    // wrapper
    &s
        display: inline-flex
        display: flex
        height: 100%


    // list
    &--list
        width: 30%
        border:
            right: 1px solid #ccc

    // content
    &--content
        width: 70%


    &__add
        position: fixed
        bottom: 10px
        left: 10px

        a
            color
