.pill
    $this-bg-color: $window-bg-color
    $this-text-color: $selected-color

    background: $this-bg-color
    color: $this-text-color

    // wrapper
    &s
        display: flex
        justify-content: center
        align-items: flex-start

    display: inline-block
    padding: 0.2em 2em
    border: 1px solid $selected-color
    text-decoration: inherit
    color: $this-text-color
    cursor: pointer

    &--passive
        background: $selected-color
        color: $this-bg-color
        cursor: inherit

    &:first-child
        border:
            radius: 4px 0 0 4px

    &:last-child
        border:
            radius: 0 4px 4px 0



