@charset "utf-8"

// initial
@import "./conf/colors"
@import "./conf/z-index"

// include npm sass sets
$fa-font-path: "./fonts"
@import "../../node_modules/font-awesome/scss/font-awesome"
@import "../../node_modules/standby.css/sass/standby.sass"


*
    box-sizing: border-box

html, body
    overflow: hidden
    height: 100%
    color: $normal-color

a
    color: inherit

@import "./app/app"
@import "./app/panel"
@import "./app/item"
@import "./app/inputsBox"
@import "./app/post"
@import "./app/btn"
@import "./app/markdonw"
@import "./app/spinner"
@import "./app/pill"
@import "./app/overlay"
@import "./app/splash"
